.tile {
    min-height: 80px;
}

.enabled {
    background-color: lightgreen;
}

.selected {
    background-color: lightblue;
}

.locked {
    background-color: red;
}

.locking {
    background-color: lightcoral;
}