.tile {
    height: 80px;
    padding-top: 10px;
    // margin-block-start: 0px;
    // margin-block-end: 0px;
    //display: inline; 
}

.enabled {
    background-color: lightgreen;
}

.selected {
    background-color: lightblue;
}

.locked {
    background-color: red;
}